﻿.card {
    top:15px;
}

/*************************** START - Validation Related Changes ********************************/
.required:after {
    color: red;
    content: "*";
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*************************** END - Validation Related Changes ********************************/

/*************************** START - Data Table Related Changes ********************************/
.grid-search-button {
    margin-top: -0.4rem;
    margin-right:0.1rem;
    height:1.8rem;
}

table.dataTable {
    font-size:small;
}

/*table.dataTable > tbody > tr.child {
    padding: 0.1em 0.5em;
}*/

/*************************** END - Data Table Related Changes ********************************/

/*************************** Start Ajax Load Indicator ********************************/
#loading-indicator {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
    width: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}

.loading-Icon {
    position: absolute;
    top: 30%;
    left: 48%;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 5px solid #3498db;
    border-bottom: 4px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loading-text {
    display: block;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 48%;
    font-size: 2rem;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
/************************************ End Ajax Load Indicator *************************************************/