﻿@page "{handler?}"
@model ASPTelecare.Web.Pages.Account.LoginModel
@{ Layout = "_LayoutPublic";}
@section Styles{
}
<div class='row flex align-items-center'>
    <div class='col-lg-4 mt-60 mb-60 col-md-6 col-sm-12 ml-auto mr-auto' style="top:-50px;">
        <div class="bg-white shadow-sm overflow-hidden rounded">
            <div class="p-4 text-center bg-dark-active text-white">
                <a href="index.html" class="avatar avatar60 ml-auto mr-auto bg-gradient-primary text-white rounded-circle">
                    <i class="icon-Paper-Plane"></i>
                </a>
                <h5 class='text-center h5 pt-10 mb-0 text-white'>Welcome to ASPTelecare</h5>
            </div>
            <div class="p-3 pt-30 pb-30">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form role="form" method="post">
                    <div class="input-icon-group">
                        <div class='input-icon-append'>
                            <i class="fa fa-user"></i>
                            <input asp-for="LoginView.UserName" placeholder="Email" type="text" class="form-control">
                            <span asp-validation-for="LoginView.UserName"></span>
                        </div>
                    </div>
                    <div class="input-icon-group">
                        <div class='input-icon-append'>
                            <i class="fa fa-lock"></i>
                            <input asp-for="LoginView.Password" placeholder="Password" type="password" class="form-control">
                            <span asp-validation-for="LoginView.Password"></span>
                        </div>
                    </div>
                    <div class="customUi-checkbox  pb-2">
                        <input asp-for="LoginView.IsPersistent" type="checkbox">
                        <label for="check-remember">
                            <span class="label-checkbox"></span>
                            <span class="label-helper">Remember Me</span>
                        </label>
                    </div>
                    <a href='javascript:document.forms[0].submit();' class="btn btn-gradient-primary btn-block btn-lg">Sign In</a>
                    <div class="pt-20 text-center">
                        Don't have an account? <a href='/Account/Register' class='text-primary ml-2 b-b d-inline-block pb-1'>Sign Up Here</a>
                    </div>

                    <ul class="list-unstyled">
                        <li class="text-center pt-20 pb-20">
                            <div class="title-sep sep-white">
                                <span>Or </span>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="btn btn-social btn-border-o btn-icon btn-block  si-colored-facebook mr-2 mb-2">
                                <i class="fab fa-facebook-f"></i> Sign In with Facebook
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="btn btn-social btn-border-o btn-icon btn-block  si-colored-g-plus mr-2 mb-2">
                                <i class="fab fa-google-plus-g"></i> Sign In with Google+
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
