﻿@page
@model PaymentModel
@{
}
<div class="container-fluid">
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter  mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Credit Card.FSA.HSA</h3>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-credit-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body col-md-12">
                    <p class="mb-0 text-muted">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="phn">Card Number</label>
                                    <input id="crdCardNumber" type="text" class="form-control" placeholder="#### #### #### ####">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="email">Expiration Month</label>
                                    <input id="expMnth" type="text" class="form-control" placeholder="MM">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="add">Expiration Year</label>
                                    <input id="expYear" type="text" class="form-control" placeholder="YYYY">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="add">CVV</label>
                                    <input id="cvv" type="text" class="form-control" placeholder="###">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="add">Billing Zip Code</label>
                                    <input id="billingzipcode" type="text" class="form-control" placeholder="#####">
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </div><!--portlet-->
            <div class="row" style="padding-top:10px;">
                <div class="col-md-2">
                    <button type="submit" id="btnSaveCreditCard" class="btn btn-gradient-primary btn-block btn-lg">Save</button>                   
                </div>
                <div class="col-md-2">                   
                    <button type="submit" id="btnCancelCreditCard" class="btn btn-gradient-primary btn-block btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>