﻿@page
@model DoctorOnDemandModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Contact Information</h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <form id="validateForm" novalidate="novalidate">
                        <div class="input-icon-group">
                            <label for="name">First Name</label>
                            <div class="input-icon-append">
                                <i class="fa fa-user-circle"></i>
                                <input id="fname" type="text" name="name" class="form-control" placeholder="First Name">
                            </div>
                        </div>
                        <div class="input-icon-group">
                            <label for="userName">Last Name</label>
                            <div class="input-icon-append">
                                <i class="fa fa-user-circle"></i>
                                <input id="lName" type="text" name="userName" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="input-icon-group">
                            <label for="email">Email id</label>
                            <div class="input-icon-append">
                                <i class="fa fa-envelope"></i>
                                <input id="email" type="email" name="email" class="form-control" placeholder="Email id">
                            </div>
                        </div>
                        <div class="input-icon-group">
                            <label for="email">Address</label>
                            <div class="input-icon-append">
                                <i class="fa fa-envelope"></i>
                                <input id="email" type="email" name="email" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="input-icon-group">
                            <label for="password">password</label>
                            <div class="input-icon-append">
                                <i class="fa fa-lock"></i>
                                <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="input-icon-group">
                            <label for="passwordConfirm">confirm password</label>
                            <div class="input-icon-append">
                                <i class="fa fa-lock"></i>
                                <input id="passwordConfirm" type="password" name="passwordConfirm" class="form-control" placeholder="Confirm password">
                            </div>
                        </div>                        
                        <button type="submit" class="btn btn-gradient-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>