﻿@page "{id:int?}"
@model ASPTelecare.Web.Pages.Patient.CreateEditModel
@section Styles{
}
<div class="row">
    <div class="col-lg-12">
        <div class="portlet-box portlet-gutter ui-buttons-col mb-30 card">
            <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                <div class="flex d-flex flex-column">
                    <h3>@Model.PageTitle</h3>
                </div>
                <div class="portlet-tools">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="portlet-body">
                <form method="post" role="form" novalidate="novalidate" class="ajax-based-form" data-key-field="PatientView_Id" data-sucess-function="" data-validation-function="">
                    <input type="hidden" asp-for="PatientView.Id" />
                    <div class="row">
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.FirstName"></label>
                            <input asp-for="PatientView.FirstName" class="form-control">
                            <span asp-validation-for="PatientView.FirstName"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.MiddleName"></label>
                            <input asp-for="PatientView.MiddleName" class="form-control">
                            <span asp-validation-for="PatientView.MiddleName"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.LastName"></label>
                            <input asp-for="PatientView.LastName" class="form-control">
                            <span asp-validation-for="PatientView.LastName"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.Gender"></label>
                            <select asp-for="PatientView.Gender" asp-items="Model.PatientView.Genders" class="form-control">
                                <option value="">Select Gender</option>
                            </select>
                            <span asp-validation-for="PatientView.Gender"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.DateOfBirth"></label>
                            <input asp-for="PatientView.DateOfBirth" type="date" class="date form-control">
                            <span asp-validation-for="PatientView.DateOfBirth"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.BloodGroup"></label>
                            <select asp-for="PatientView.BloodGroup" asp-items="Model.PatientView.BloodGroups" class="form-control">
                                <option value="">Select Blood Group</option>
                            </select>
                            <span asp-validation-for="PatientView.BloodGroup"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.EducationLevel"></label>
                            <select asp-for="PatientView.EducationLevel" asp-items="Model.PatientView.EducationLevels" class="form-control">
                                <option value="">Select Education</option>
                            </select>
                            <span asp-validation-for="PatientView.EducationLevel"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.MRN"></label>
                            <input asp-for="PatientView.MRN" class="form-control">
                            <span asp-validation-for="PatientView.MRN"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.SmokingStatus"></label>
                            <select asp-for="PatientView.SmokingStatus" asp-items="Model.PatientView.SmokingStatuses" class="form-control">
                                <option value="">Select Smoking Status</option>
                            </select>
                            <span asp-validation-for="PatientView.SmokingStatus"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.MobileNumber"></label>
                            <input asp-for="PatientView.MobileNumber" class="form-control">
                            <span asp-validation-for="PatientView.MobileNumber"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.HomeNumber"></label>
                            <input asp-for="PatientView.HomeNumber" class="form-control">
                            <span asp-validation-for="PatientView.HomeNumber"></span>
                        </div>
                        <div class="input-icon-group col-lg-4">
                            <label asp-for="PatientView.EmailId"></label>
                            <input asp-for="PatientView.EmailId" class="form-control">
                            <span asp-validation-for="PatientView.EmailId"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-icon-group col-lg-12 text-right">
                            <button type="button" onclick="onSubmitForm();" class="btn btn-gradient-primary"><i class="fas fa-save"></i> Save</button>
                            <a href="~/Patient/Index/" class="btn btn-primary"><i class="fas fa-arrow-circle-left"></i> Close</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}