﻿@page
@model DashboardContentModel
@{
}
<div class="container-fluid">
    <div class="row align-items-center mb-30 pt-30">
        <div class="col-md-12 mr-auto ml-auto">
            <div class="mb-0">
                <h4>Welcome back, Sarah</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-30">
            <div class="p-3  flex full-height rounded border1">
                <span class="b-b fs-1x font500 mb-3 d-block pb-3">Medical</span>
                <ul class="timeline-alt list-unstyled">
                    <li class="clearfix d-flex flex">
                        <div class="tl-content">
                            <button type="submit" id="btnSeeDoc" class="btn btn-gradient-primary btn-block btn-lg">See a Doctor Now</button>
                        </div>
                    </li>
                    <!-- timeline item-->
                    <li class="clearfix d-flex flex">
                        <div class="tl-content" style="background:none;padding:0rem;">
                            <button type="submit" id="btnScheduleAppt" class="btn btn-gradient-primary btn-block btn-lg">Schedule an Appointment</button>
                        </div>
                    </li>
                    <li class="clearfix d-flex flex"></li>
                    <li class="clearfix d-flex flex">
                        <!-- timeline item-->
                        <div class="tl-content">
                            <a href="#">
                                <span>Top issues our board-certified doctors &Aacute; pediatricians can treat:</span>
                            </a>
                            <ul>
                                <li>Cold & Flue</li>
                                <li>UTIs</li>
                                <li>Skin issues and Rashes</li>
                                <li>Sius Infections</li>
                            </ul>
                        </div>
                        <!-- timeline item-->
                    </li>
                    <li class='clearfix d-flex flex pull-right'>
                        <a href="javascript:void(0)" class="btn btn-shadow btn-icon  btn-outline-primary mb-2 mr-2">
                            Read More
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 mb-30">
            <div class="p-3  flex full-height rounded border1">
                <span class="b-b fs-1x font500 mb-3 d-block pb-3">Mental Health</span>
                <ul class="timeline-alt list-unstyled">
                    <li class="clearfix d-flex flex">
                        <div class="tl-content" style="background:none;padding:0rem;">
                            <button type="submit" id="btnScheduleAppt" class="btn btn-gradient-primary btn-block btn-lg">Schedule an Appointment</button>
                        </div>
                    </li>
                    <!-- timeline item-->
                    <li class="clearfix d-flex flex">
                        <div class="tl-content" style="background:none;padding:0rem;">
                            <button type="submit" id="btnTakeAsst" class="btn btn-gradient-primary btn-block btn-lg">Take an Assesment</button>
                        </div>
                    </li>
                    <li class="clearfix d-flex flex"></li>
                    <li class="clearfix d-flex flex">
                        <!-- timeline item-->
                        <div class="tl-content">
                            <a href="#">
                                <span>Top issues our licensed psychologists & psychiatrists can treat:</span>
                            </a>
                            <ul>
                                <li>Depression</li>
                                <li>Anxiety & Stress</li>
                                <li>Trauma & Loss</li>
                                <li>Addictions</li>
                            </ul>
                        </div>
                        <!-- timeline item-->
                    </li>
                    <li class='clearfix d-flex flex pull-right'>
                        <a href="javascript:void(0)" class="btn btn-shadow btn-icon  btn-outline-primary mb-2 mr-2">
                            Read More
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
