﻿@page
@model DashboardModel
@{
}
<body class="bg-white">
    <div class="page-wrapper" id="page-wrapper">
        <aside id="page-aside" class=" page-aside">
            <div class="sidenav whiteNav">
                <a href="index.html" class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center">
                    <i class="icon-Paper-Plane inline-icon rounded avatar32 d-inline-flex align-items-center justify-content-center"></i>
                    <span class="logo-text d-inline-flex"> <span class='font700 d-inline-block mr-1'>AspCare</span> Telemedicine</span>
                </a>
                <div class="flex">
                    <div class="aside-content">
                        <ul class="metisMenu" id="metisMenu">
                            <li class="active">
                                <a id="aDashboard" href="javascript:void(0)">Dashboard</a>
                            </li>                        
                            <li>
                                <a class="has-arrow" href="javascript:void(0)">
                                    <span class="nav-text">
                                        My Health
                                    </span>
                                </a>
                                <ul aria-expanded="false">
                                    <li>
                                        <a href="index.html">Visits</a>
                                    </li>
                                    <li>
                                        <a href="index-02.html">Pharmacies</a>
                                    </li>
                                    <li>
                                        <a href="index-02.html">Documents</a>
                                    </li>
                                    <li>
                                        <a href="index-02.html">Lab Tests</a>
                                    </li>
                                    <li>
                                        <a href="index-02.html">Favorite Doctors</a>
                                    </li>
                                    <li>
                                        <a href="index-02.html">Assessments</a>
                                    </li>
                                </ul>
                            </li><!--Menu-item-->
                        </ul>
                    </div><!-- aside content end-->
                </div><!-- aside hidden scroll end-->
                <div class="aside-footer p-3 pl-25">
                    <div class="">
                        App Version - 1.0
                    </div>
                </div><!-- aside footer end-->
            </div><!-- sidenav end-->
        </aside><!-- page-aside end-->
        <main class="content">
            <header class="navbar page-header darkHeader navbar-expand-lg">
                <ul class="nav flex-row mr-auto">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link sidenav-btn h-lg-down">
                            <span class="navbar-toggler-icon"></span>
                        </a>
                        <a class="nav-link sidenav-btn h-lg-up" href="#page-aside" data-toggle="dropdown" data-target="#page-aside">
                            <span class="navbar-toggler-icon"></span>
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
                    <li class="nav-item dropdown user-dropdown align-items-center">
                        <a class="nav-link" href="#" id="dropdown-user" role="button" data-toggle="dropdown">
                            <span class="user-states states-online">
                                <img src="images/avatar6.jpg" width="35" alt="" class=" img-fluid rounded-circle">
                            </span>
                            <span class="ml-2 h-lg-down dropdown-toggle">
                                Hi, Sarah
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                            <div class="text-center p-3 pt-0 b-b mb-5">
                                <span class="mb-0 d-block font300 text-title fs-1x">Hi! <span class="font700">Sarah Taylor</span></span>
                                <span class="fs12 mb-0 text-muted">Patient</span>
                            </div>
                            <a class="dropdown-item" id="aProfile" href="javascript:void(0)"><i class="icon-User"></i>My Profile</a>
                            <a class="dropdown-item" id="aDocOnDemand" href="javascript:void(0)"><i class="icon-Newspaper"></i>Share Doctor On Demand</a>
                            <a class="dropdown-item" id="aContact" href="javascript:void(0)"><i class="icon-Speach-Bubble4 "></i>Contact Information</a>
                            <a class="dropdown-item" id="aPayments" href="javascript:void(0)"><i class="icon-Speach-Bubble4 "></i>Payments & Benifits</a>
                            <a class="dropdown-item" id="aSupport" href="javascript:void(0)"><i class="icon-Gear"></i> Support</a>
                            <a class="dropdown-item" href="#"><i class="icon-Gear"></i> Legal</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="aLogout" href="/Patient/SignIn"><i class="icon-Power"></i> logout</a>
                        </div>
                    </li>
                    <li class="h-lg-up nav-item">
                        <a href="#" class=" nav-link collapsed" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
                            <i class="icon-Magnifi-Glass2"></i>
                        </a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse search-collapse" id="navbarToggler">
                    <form class="form-inline ml-1">
                        <button class="no-padding bg-trans border0" type="button"><i class="icon-Magnifi-Glass2"></i></button>
                        <input class="form-control border0" type="search" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
            </header>
            <div class="page-content"></div>
        </main><!-- page content end-->
    </div><!-- app's main wrapper end -->
    <!-- Common plugins -->
    <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/plugins.js"></script>
    @*<script type="text/javascript" src="~/js/appUi-custom.js"></script>*@   
    <script src="~/js/start.js"></script>
    <script type="text/javascript" src="~/js/Common.js"></script>
    <script type="text/javascript" src="~/js/Pages/Main/Main.js"></script>
</body>

