﻿@page
@model DoctorOnDemandModel
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter  mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Share your personal code</h3>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">

                            <li class="nav-item">
                                <a href="#" class="nav-link avatar avatar32 bg-primary-light text-primary rounded-circle no-padding">
                                    <i class="fa fa-heartbeat" style="font-size:48px;color:red"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    <p class="mb-0 text-muted">
                        Share your promocode with your friends and family.They will get $10
                        off their visit (not eligible with insurance).<br />
                        Dont worry , we never share your personal health information.
                    </p>
                </div>
            </div>
            <!--portlet-->
        </div>
    </div><!--row-->
</div>