﻿@page "{handler?}"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ASPTelecare.Web.Pages.Patient.IndexModel
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/datatables.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />
    </environment>
}
<div class="row">
    <div class="col-lg-12">
        <div class="portlet-box portlet-gutter ui-buttons-col mb-30 card">
            <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                <div class="flex d-flex flex-column">
                    <h3>@Localizer["Patients"]</h3>
                </div>
                <div class="portlet-tools">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="portlet-body">
                <div id="ServerMessage"></div>
                <table class="table table-sm table-striped table-bordered table-hover" id="GridControl" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <environment include="Development">
        <script src="~/js/datatables.js"></script>
        <script src="~/js/grid-control-helper.js"></script>
        <script src="~/js/Pages/Patient/patient-index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/datatables.min.js" asp-append-version="true"></script>
        <script src="~/js/Pages/Patient/patient-index.js"></script>
    </environment>
}