﻿@page
@model PaymentModel
@{
}
<div class="container-fluid">
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter  mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Credit Card.FSA.HSA</h3>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-credit-card"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body col-md-2">
                    <p class="mb-0 text-muted">
                        <button type="submit" id="btnCreditCard" class="btn btn-gradient-primary btn-block btn-lg">ADD</button>
                    </p>
                </div>
            </div><!--portlet-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter  mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Health Insurance</h3>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body col-md-2">
                    <p class="mb-0 text-muted">
                        <button type="submit" id="btnHthIns" class="btn btn-gradient-primary btn-block btn-lg">ADD</button>
                    </p>
                </div>
            </div><!--portlet-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter  mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Employer.Organization</h3>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-suitcase"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body col-md-2">
                    <p class="mb-0 text-muted">
                        <button type="submit" id="btnEmp" class="btn btn-gradient-primary btn-block btn-lg">ADD</button>
                    </p>
                </div>
            </div><!--portlet-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter  mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Apply Coupon</h3>
                        <label class="label-helper">Please note coupons be used for visits subsidized by your insurance or employer</label>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-code"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body col-md-2">
                    <p class="mb-0 text-muted">
                        <button type="submit" id="btnEmp" class="btn btn-gradient-primary btn-block btn-lg">ADD</button>
                    </p>
                </div>
            </div><!--portlet-->
        </div>
    </div>
</div>