﻿@page
@model ProfileModel
@{
}
<div class="flex d-flex b-l">
    <div class="d-flex flex flex-column">
        <div class="flex p-3 pt-0 pb-0">
            <div class="row fullscreen">
                <div class="col-xl-3 col-lg-4 b-r col-md-5 bg-white d-flex flex-column p-4">
                    <div class="text-center">
                        <div class="progress-thumb">
                            <i class="on states"></i>
                            <span class="donut1" data-peity='{}'>66,24</span>
                            <img src="images/avatar1.jpg" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="p-3">
                            <h5 class="fs-1x mb-0 font400">Sarah Taylor</h5>
                            <p class="text-muted">
                                Freelance Designer<br><i class="fa fa-map-marker text-muted mr-2 fs12"></i> California, Usa
                            </p>
                            <div class="pb-3">
                                <button type="button" class="btn btn-block mb-2 btn-icon btn-success">
                                    <i class="fa fa-comments"></i> Send Message
                                </button>
                                <button type="button" class="btn btn-block mb-2 btn-icon btn-primary">
                                    <i class="fa fa-user-circle"></i> follow
                                </button>
                            </div>
                            <div class="clearfix">
                                <a href="javascript:void(0)" class="btn-icon-o btn-border-o si-colored-facebook btn-icon-sm">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn-icon-o btn-border-o si-colored-twitter btn-icon-sm">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="javascript:void(0)" class="btn-icon-o btn-border-o si-colored-linkedin btn-icon-sm">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-7 d-flex no-padding flex-column">

                    <div class="profile-content p-4">
                        <div class="profile-cover">
                            <img src="images/cover1.jpg" alt="" class="img-fluid">
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills profile-tabs pb-3" role="tablist">
                            <li role="presentation" class="nav-item"><a id="aBasicInfo" class="nav-link active" href="#tb1" aria-controls="tb1" role="tab" data-toggle="tab"><i class="fa fa-pencil-alt fs10 mr-1"></i> Basic Info</a></li>
                            <li role="presentation" class="nav-item"><a class="nav-link" href="#tb2" aria-controls="tb2" role="tab" data-toggle="tab"><i class="fa fa-user-circle fs10 mr-1"></i> Health Insurance</a></li>
                            <li role="presentation" class="nav-item"><a class="nav-link" href="#tb3" aria-controls="tb3" role="tab" data-toggle="tab"><i class="fa fa-cog fs10 mr-1"></i> Coverage</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" id="ProfileTabContainer">
                            <div role="tabpanel" class="tab-pane" id="tb1">
                                <div class="bg-white  p-3 border1 rounded">
                                    <div role="form">
                                        <div class="title-sep sep-white text-left text-primary mb-10">
                                            <span class="rounded">Set up your Profile</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="fname">First Name</label>
                                                    <input id="fname" type="text" class="form-control" placeholder="Sarah">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="lname">Last Name</label>
                                                    <input id="lname" type="text" class="form-control" placeholder="Taylor">
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="phn">Phone</label>
                                                    <input id="phn" type="text" class="form-control" placeholder="+91 9887568614">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="email">Email Address</label>
                                                    <input id="email" type="email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="add">Address</label>
                                                    <input id="add" type="email" class="form-control" placeholder="123, California, Usa, 302012">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="title-sep sep-white text-left text-primary  mt-30 mb-10">
                                            <span class="rounded">Gender</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="customUi-radio radioUi-primary  pb-2">
                                                    <input id="primaryrd" type="radio" name="tdgender">
                                                    <label for="primaryrd">
                                                        <span class="label-radio"></span>
                                                        <span class="label-helper">Male</span>
                                                    </label>
                                                </div>
                                                <div class="customUi-radio radioUi-primary  pb-2">
                                                    <input id="primaryrd1" type="radio" name="tdgender">
                                                    <label for="primaryrd1">
                                                        <span class="label-radio"></span>
                                                        <span class="label-helper">Female</span>
                                                    </label>
                                                </div>
                                                <div class="customUi-radio radioUi-primary  pb-2">
                                                    <input id="primaryrd2" type="radio" name="tdgender">
                                                    <label for="primaryrd2">
                                                        <span class="label-radio"></span>
                                                        <span class="label-helper">Other</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-3 text-right">
                                            <button id="btnUpdate" type="button" class="btn btn-icon btn-gradient-primary">
                                                <i class="fa fa-cog"></i> Update Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tb2">
                                <div class="bg-white  p-3 border1 rounded">
                                    <div role="form">
                                        <div class="title-sep sep-white text-left text-primary mb-10">
                                            <span class="rounded">We take Health Insurance</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>
                                                    <span class="label-helper">Search for your insurance provider to see if you are convered</span>
                                                </label>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="input-icon-group">
                                                    <div class="input-icon-append">
                                                        <i class="fa fa-search"></i>
                                                        <input placeholder="Search Insurance Provider" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-3 text-right">
                                            <button type="button" id="btnSkipInsurance" class="btn pull-left btn-icon btn-gradient-primary">
                                                <i class="fa fa-cog"></i>Skip Insurance
                                            </button>
                                            <button type="button" id="btnContInsurance" class="btn btn-icon btn-gradient-primary">
                                                <i class="fa fa-cog"></i>Continue
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div role="tabpanel" class="tab-pane" id="tb3">
                            <div class="bg-white  p-3 border1 rounded">
                                <div role="form">
                                    <div class="title-sep sep-white text-left text-primary mb-10">
                                        <span class="rounded">Does your employer help cover doctor on demand visits?</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="fname">400+ employers partner directly with doctor on demand to provide benefits to their employees.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-3">
                                        <a href="javascript:void(0)" class="btn pull-left btn-shadow btn-icon  btn-gradient btn-gradient-danger mb-3 mr-3">
                                            <i class="fab fa-playstation"></i>No
                                        </a>
                                        <a href="javascript:void(0)" class="btn pull-right btn-shadow btn-icon  btn-gradient btn-gradient-success mb-3 mr-3">
                                            <i class="fa fa-tasks"></i>Yes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-->
</div>
</div>
