﻿@page
@model RegisterModel
@{
}

<div class='bg-light'>
    <div class="page-wrapper" id="page-wrapper">
        <main class="content">
            <div class='row align-items-center text-center'>
                <div class='col-lg-4 col-md-6 col-sm-12'></div>
                <div class='col-lg-4 col-md-6 col-sm-12'>
                    <h3 class="portlet-header portlet-subtitle" for='pass'>See a Doctor with in minutes</h3>
                </div>
                <div class='col-lg-4 col-md-6 col-sm-12'></div>               
            </div>
                <div class="container flex d-flex">
                    <div class='row flex align-items-center'>
                        <div class='col-lg-6 mt-60 mb-60 col-md-6 col-sm-12 ml-auto mr-auto'>
                            <div class="bg-white shadow-sm overflow-hidden rounded">
                                <div class="p-3 pt-20 pb-20 Login">
                                    <img class="img" src="~/images/Login/medical-top.jpg" style="height:290px;width:480px;" />
                                </div>
                            </div>
                            <ul class="list-icon list-unstyled Login" style="margin-top:15px;">
                                <li>
                                    <a>
                                        <i class="fa fa-stethoscope"></i>
                                    </a>Physicians can treat most common non-emergency medical conditions over video.
                                </li>
                                <li>
                                    <a>
                                        <i class="fa fa-user-md"></i>
                                    </a>Physiologists and Psychiatrists can address non-emergency emotional or mental health issues.
                                </li>
                            </ul>
                        </div>
                        <div class='col-lg-4 mt-60 mb-60 col-md-6 col-sm-12 ml-auto mr-auto'>
                            <div class="bg-white shadow-sm overflow-hidden rounded">
                                <div class="p-4 text-center bg-dark-active text-white">
                                    <a href="index.html" class="avatar avatar60 ml-auto mr-auto bg-gradient-primary text-white rounded-circle">
                                        <i class="icon-Paper-Plane"></i>
                                    </a>
                                    <h5 class='text-center h5 pt-10 mb-0 text-white'>Join now for patient!</h5>
                                </div>
                                <div class="p-3 pt-30 pb-30">
                                    <form role="form">
                                        <div class="input-icon-group">
                                            <div class='input-icon-append'>
                                                <i class="fa fa-user"></i>
                                                <input placeholder="Email" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="input-icon-group">
                                            <div class='input-icon-append'>
                                                <i class="fa fa-lock"></i>
                                                <input id="pass" placeholder="Password" type="password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="input-icon-group">
                                            <div class="d-flex flex flex-row">
                                                <label class="flex d-flex mr-auto" for='pass'>Date Of Birth</label>
                                            </div>
                                            <div class='input-icon-append'>
                                                <i class="fa fa-lock"></i>
                                                <input id="dob" placeholder="MM/DD/YYYY" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="customUi-checkbox  pb-2">
                                            <input id="check-remember" type="checkbox" name="agree">
                                            <label for="check-remember">
                                                <span class="label-checkbox"></span>
                                                <span class="label-helper">I agree to see doctor on demand</span>
                                            </label>
                                            <span class="label-helper btn-link" style="text-decoration:none;">Terms of use and informed consent</span>
                                        </div>
                                        <button type="submit" class="btn btn-gradient-primary btn-block btn-lg">Create Account</button>
                                        <div class="pt-20 text-center">
                                            Already a member? <a href='/Patient/SignIn' class='text-primary ml-2 b-b d-inline-block pb-1'>Sign In</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- main end-->
                <footer class="content-footer bg-light b-t">
                    <div class="d-flex flex align-items-center pl-15 pr-15">
                        <div class="d-flex flex p-3 mr-auto ml-auto justify-content-center">
                            <div class="text-muted">© Copyright 2014-2018. Assan</div>
                        </div>
                    </div>
                </footer><!-- footer end-->
</main><!-- page content end-->
    </div><!-- app's main wrapper end -->    
</div>
