﻿@page
@model SignInModel
@{
}
<div class='bg-light'>
    <div class="page-wrapper" id="page-wrapper">
        <main class="content">
            <div class="container flex d-flex">
                <div class='row flex align-items-center'>
                    <div class='col-lg-4 mt-60 mb-60 col-md-6 col-sm-12 ml-auto mr-auto'>
                        <div class="bg-white shadow-sm overflow-hidden rounded">
                            <div class="p-4 text-center bg-dark-active text-white">
                                <a href="index.html" class="avatar avatar60 ml-auto mr-auto bg-gradient-primary text-white rounded-circle">
                                    <i class="icon-Paper-Plane"></i>
                                </a>
                                <h5 class='text-center h5 pt-10 mb-0 text-white'>Welcome</h5>
                            </div>
                            <div class="p-3 pt-30 pb-30">
                                <form role="form">
                                    <div class="input-icon-group">
                                        <div class='input-icon-append'>
                                            <i class="fa fa-user"></i>
                                            <input placeholder="Email" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-icon-group">
                                        <div class='input-icon-append'>
                                            <i class="fa fa-lock"></i>
                                            <input id="pass" placeholder="Password" type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="customUi-checkbox  pb-2">
                                        <input id="check-remember" type="checkbox" name="agree">
                                        <label for="check-remember">
                                            <span class="label-checkbox"></span>
                                            <span class="label-helper">Remember Me</span>
                                        </label>
                                    </div>
                                    <a href='/Patient/Dashboard' class="btn btn-gradient-primary btn-block btn-lg">Sign In</a>
                                    <div class="pt-20 text-center">
                                        Don't have an account? <a href='/Patient/Register' class='text-primary ml-2 b-b d-inline-block pb-1'>Sign Up Here</a>
                                    </div>

                                    <ul class="list-unstyled">
                                        <li class="text-center pt-20 pb-20">
                                            <div class="title-sep sep-white">
                                                <span>Or </span>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="btn btn-social btn-border-o btn-icon btn-block  si-colored-facebook mr-2 mb-2">
                                                <i class="fab fa-facebook-f"></i> Sign In with Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="btn btn-social btn-border-o btn-icon btn-block  si-colored-g-plus mr-2 mb-2">
                                                <i class="fab fa-google-plus-g"></i> Sign In with Google+
                                            </a>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- main end-->
            <footer class="content-footer bg-light b-t">
                <div class="d-flex flex align-items-center pl-15 pr-15">
                    <div class="d-flex flex p-3 mr-auto ml-auto justify-content-center">
                        <div class="text-muted">© Copyright 2014-2018. Assan</div>
                    </div>
                </div>
            </footer><!-- footer end-->
        </main><!-- page content end-->
    </div><!-- app's main wrapper end -->   
</div>

