﻿@page
@model DoctorOnDemandModel
@{
}
<div class="container-fluid">
    <div class="row" style="padding-top:10px;">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Get Help Quickly</h3>
                        <label class="label-helper">Browse our most frequently asked questions (FAQs) for quick answers about doctor on demand and our services</label>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>General Questions</li>
                                <li>Excuse Notes and medical records</li>
                                <li>Payment,Insurance & Billing</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Prescriptions & Pharmacy</li>
                                <li>Trouble Shooting</li>
                                <li>Managing My Account</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" id="btnViewFaq" class="btn btn-gradient-primary btn-block btn-lg">View FAQs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Message Support</h3>
                        <label class="label-helper">You have no new messages from our support team</label>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-2">
                            <button type="submit" id="btnViewFaq" class="btn btn-gradient-primary btn-block btn-lg">Visit Message Center</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
                <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                    <div class="flex d-flex flex-column">
                        <h3>Call Support</h3>
                        <label class="label-helper">Need immediate support that isn't included in our FAQ ? call our member support team , and they will be happy to help.</label>
                    </div>
                    <div class="portlet-tools">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-phone"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4">
                           <label class="label-helper"><strong>Phone</strong></label><br />
                            (800) 997-6196<br />
                            TTY: 711
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>