﻿@page "{id:int?}"
@model ASPTelecare.Web.Pages.User.IndexModel
@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/datatables.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/datatables.min.css" asp-append-version="true" />
    </environment>
}
<div class='bg-light'>
    <div class="page-wrapper" id="page-wrapper">
        <main class="content">
            <table class="table table-sm table-striped table-bordered table-hover" id="GridControl" style="width: 100%;"></table>
        </main><!-- page content end-->
    </div><!-- app's main wrapper end -->
</div>
@section Scripts {
    <environment include="Development">
        <script src="~/js/datatables.js"></script>
        <script src="~/js/grid-control-helper.js"></script>
        <script src="~/js/user/user-index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/datatables.min.js" asp-append-version="true"></script>
        <script src="~/js/user/user-index.min.js"></script>
    </environment>
}

