<header class="navbar page-header darkHeader navbar-expand-lg">
    <ul class="nav flex-row mr-auto">
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link sidenav-btn h-lg-down">
                <span class="navbar-toggler-icon"></span>
            </a>
            <a class="nav-link sidenav-btn h-lg-up" href="#page-aside" data-toggle="dropdown" data-target="#page-aside">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>
    </ul>
    <partial name="_LoginPartial" />
    <div class="collapse navbar-collapse search-collapse" id="navbarToggler">
        <form class="form-inline ml-1">
            <button class="no-padding bg-trans border0" type="button"><i class="icon-Magnifi-Glass2"></i></button>
            <input class="form-control border0" type="search" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>