﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@using ASPTelecare.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AspTelecare - @ViewBag.PageTitle</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/common.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)
</head>
<body>
    <main role="main">
        @await Html.PartialAsync("_LoadingPartial")
        <div class="page-wrapper" id="page-wrapper">
            <partial name="_MenuPartial" />
            <main class="content">
                <mini-profiler />
                <partial name="_HeaderPartial" />
                <div class="page-content">@RenderBody()</div>
            </main><
        </div>
    </main>
    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/moment.js"></script>
        <script src="~/js/date-format.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/bootstrap3-typeahead.js"></script>
        <script src="~/js/bootstrap-datetimepicker.js"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/common.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            _baseUrl = '@Url.Content("~/").TrimEnd('/')';
            _antiforgeryTokenHeaderName = '@Constants.AntiforgeryTokenName';
            _antiForgeryToken = "@Xsrf.GetAndStoreTokens(Context).RequestToken";
            _datePickerFormat = "MM/DD/YYYY";
            InitializeJQueryAjax();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>