﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AspCares Telemedicine - @ViewBag.PageTitle</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/common.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("styles", required: false)
</head>
<body>
        <div class="page-wrapper" id="page-wrapper" >
            <main class="content" style="top:0px;">
                <div class="page-content">
                @RenderBody()
                </div>
                <footer class="content-footer bg-light b-t">
                    <div class="d-flex flex align-items-center pl-15 pr-15">
                        <div class="d-flex flex p-3 mr-auto ml-auto justify-content-center">
                            <div class="text-muted">© Copyright 2014-2018. AspTelecare</div>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
    <environment include="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/moment.js"></script>
        <script src="~/js/date-format.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/bootstrap3-typeahead.js"></script>
        <script src="~/js/bootstrap-datetimepicker.js"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/common.js"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>