@using Microsoft.AspNetCore.Identity
@using  System.Security.Claims;
@if (User.Identity.IsAuthenticated)
{
    <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
        <li class="nav-item dropdown user-dropdown align-items-center">
            <a class="nav-link" href="#" id="dropdown-user" role="button" data-toggle="dropdown">
                <span class="user-states states-online">
                    <img src="images/avatar6.jpg" width="35" alt="" class=" img-fluid rounded-circle">
                </span>
                <span class="ml-2 h-lg-down dropdown-toggle">
                    Hi, @User.Claims.FirstOrDefault(o => o.Type == ClaimTypes.GivenName).Value!
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                <div class="text-center p-3 pt-0 b-b mb-5">
                    <span class="mb-0 d-block font300 text-title fs-1x">Hi! <span class="font700">@User.Claims.FirstOrDefault(o => o.Type == ClaimTypes.GivenName).Value</span></span>
                    <span class="fs12 mb-0 text-muted">@User.Claims.FirstOrDefault(o => o.Type == ClaimTypes.Role).Value</span>
                </div>
                <a class="dropdown-item" asp-page="/Account/Profile"><i class="icon-User"></i>My Profile</a>
                <a class="dropdown-item" asp-page="/Account/ChangePassword"><i class="icon-Newspaper"></i>Share Doctor On Demand</a>
                <a class="dropdown-item" asp-page="/Account/ChangePassword"><i class="icon-Speach-Bubble4 "></i>Contact Information</a>
                <a class="dropdown-item" asp-page="/Account/ChangePassword"><i class="icon-Speach-Bubble4 "></i>Payments & Benifits</a>
                <a class="dropdown-item" asp-page="/Account/ChangePassword"><i class="icon-Gear"></i> Support</a>
                <a class="dropdown-item" href="#"><i class="icon-Gear"></i> Legal</a>
                <div class="dropdown-divider"></div>
                <form asp-page="/Account/Logout" method="post" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"  id="logoutForm">
                    <a class="dropdown-item" href="javascript:document.forms[0].submit();"><i class="icon-Power"></i> Logout</a>
                </form>
            </div>
        </li>
        <li class="h-lg-up nav-item">
            <a href="#" class=" nav-link collapsed" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
                <i class="icon-Magnifi-Glass2"></i>
            </a>
        </li>
    </ul>
}