﻿@if (User.Identity.IsAuthenticated)
{
    <aside id="page-aside" class=" page-aside">
        <div class="sidenav whiteNav">
            <a href="index.html" class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center">
                <i class="icon-Paper-Plane inline-icon rounded avatar32 d-inline-flex align-items-center justify-content-center"></i>
                <span class="logo-text d-inline-flex"> <span class='font700 d-inline-block mr-1'>AspCare</span> Telemedicine</span>
            </a>
            <div class="flex">
                <div class="aside-content">
                    <ul class="metisMenu" id="metisMenu">
                        <li class="active">
                            <a id="aDashboard" href="javascript:void(0)">Dashboard</a>
                        </li>
                        <li>
                            <a class="has-arrow" href="javascript:void(0)">
                                <span class="nav-text">
                                    My Health
                                </span>
                            </a>
                            <ul aria-expanded="false">
                                <li>
                                    <a href="index.html">Visits</a>
                                </li>
                                <li>
                                    <a href="index-02.html">Pharmacies</a>
                                </li>
                                <li>
                                    <a href="index-02.html">Documents</a>
                                </li>
                                <li>
                                    <a href="index-02.html">Lab Tests</a>
                                </li>
                                <li>
                                    <a href="index-02.html">Favorite Doctors</a>
                                </li>
                                <li>
                                    <a href="index-02.html">Assessments</a>
                                </li>
                            </ul>
                        </li><!--Menu-item-->
                    </ul>
                </div><!-- aside content end-->
            </div><!-- aside hidden scroll end-->
            <div class="aside-footer p-3 pl-25">
                <div class="">
                    App Version - 1.0
                </div>
            </div><!-- aside footer end-->
        </div><!-- sidenav end-->
    </aside><!-- page-aside end-->
}