﻿<environment include="Development">
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.form.helper.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/jquery.form.min.js"></script>
</environment>
